@import url(http://fonts.googleapis.com/css?family=Merriweather);
body {
  font-family: Merriweather, Georgia, serif;
  font-size: 125%;
  line-height: 1.5;
  color: #333;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #66c;
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6  { margin-bottom: 0; }
.regular { font-weight: normal; }
.massive { font-size: 4em; }
.wrap {
  max-width: 768px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.button {
  display: inline-block;
  line-height: 3rem;
  padding: 0 1rem;
  border-radius: .25rem;
}
.button-gray {
  color: #555;
  background-color: #eee;
}
.button-gray:hover {
  color: #555;
  background-color: #ddd;
}

.mr { margin-right: 1rem; }
.mb { margin-bottom: 2rem; }
.px { padding-top: 2rem; padding-bottom: 2rem; }
